@model WebApp.Areas.Admin.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Đăng Kí</h3>
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group form-group">
                    <div class="input-group-prepend ">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="UserName" class="form-control w-75" required/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Password" class="form-control w-75" required/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="ConfirmPassword" class="form-control w-75" required/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng Kí" class="btn float-right login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Bạn Có Tài Khoản ?<a asp-area="Admin" asp-controller="User" asp-action="Login">Đăng Nhập</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#">Quên Mật Khẩu?</a>
            </div>
        </div>
    </div>
</div>
