@{
    ViewData["Title"] = "Home Page";
    string url = null;
    string img = null;
    if (Context.User.IsInRole("Admin"))
    {
        img = Context.User.Claims.ToList()[3].Value;
        url = Url.Action("Profile", "Admin", new { Area = "Admin",id = Context.User.Claims.ToList()[2].Value });
    }
    if (Context.User.IsInRole("AdminForum"))
    {
        img = Context.User.Claims.ToList()[3].Value;
        url = Url.Action("Profile", "AdminForum",new { Area = "Admin" , id = Context.User.Claims.ToList()[2].Value });
    }
    if (Context.User.IsInRole("Coach"))
    {
        img = Context.User.Claims.ToList()[3].Value;
        url = Url.Action("Profile", "Coach", new { Area = "Admin", id = Context.User.Claims.ToList()[2].Value });
    }
    if (Context.User.IsInRole("Student"))
    {
        img = Context.User.Claims.ToList()[3].Value;
        url = Url.Action("Profile", "Student", new { Area = "Admin", id = Context.User.Claims.ToList()[2].Value });
    }
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Informing Education Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Informing Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap-Core-CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/fonts/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,600,700"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->
            <header>
                <div class="container-fluid px-lg-5">
                    <div class="row order-info">
                        <div class="middle mt-sm-3 col-sm-6 text-left">
                            <ul class="social mb-3">
                                <li><a href="#"><span class="fa fa-facebook icon_facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter icon_twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus icon_google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin icon_linkedin"></span></a></li>
                                <li><a href="#"><span class="fa fa-dribbble icon_dribbble"></span></a></li>
                            </ul>

                        </div>
                        @if (!Context.User.Identity.IsAuthenticated)
                        {
                            <div class="middle mt-sm-3 col-sm-6 text-right">
                                <ul class="social mb-3">
                                    <li><a asp-area="Admin" asp-controller="User" asp-action="Login" class="btn btn-info">Đăng Nhập</a></li>
                                    <li><a asp-area="Admin" asp-controller="User" asp-action="Register" class="btn btn-info">Đăng Kí</a></li>
                                </ul>

                            </div>
                        }

                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <!-- Topbar Navbar -->
                            <ul class="navbar-nav ml-auto">

                                <div class="topbar-divider d-none d-sm-block"></div>

                                <!-- Nav Item - User Information -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-white small">@Context.User.Identity.Name</span>
                                        <img class="img-profile rounded-circle"
                                             src="~/Img/User/@img">
                                    </a>
                                    <!-- Dropdown - User Information -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="@url">
                                            <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Trang cá nhân
                                        </a>
                                        @if (Context.User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" >
                                                <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Quản Lí
                                            </a>
                                        }
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Hoạt động gần đây
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Logout">
                                            <i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Đăng xuất
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                        <!-- nav -->
                        <nav class="pt-4 d-lg-flex">
                            <div id="logo">
                                <h1> <a asp-action="Index" asp-controller="Home">Informing</a></h1>
                            </div>

                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />

                            <ul class="menu mt-3">
                                <li class="active"><a asp-controller="Home" asp-action="IndexCourse">Khóa học</a></li>
                                <li><a asp-action="IndexPost" asp-controller="Home" class="scroll">Bài viết</a></li>
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle">
                                        Activate <span class="fa fa-angle-down"
                                                       aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Hoạt động <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul class="inner-ul">
                                        <li><a class="scroll" href="#gallery">Lịch sử</a></li>
                                        <li><a href="#services" class="scroll">Đã lưu</a></li>
                                        <!-- <li><a href="#stats" class="scroll">Stats</a></li>
                                        <li><a href="#team" class="scroll">Team</a></li> -->
                                    </ul>
                                </li>
                                <li><a href="#feedback" class="scroll">Phản hồi</a></li>
                                <li><a href="#FAQ" class="scroll">Hỏi đáp</a></li>
                                <li><a href="#about" class="scroll">Về Informing</a></li>
                            </ul>
                        </nav>
                        <!-- //nav -->
                    </div>
            </header>
            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center">
                    <h3>Bắt đầu học tập vì tương lai tươi sáng</h3>
                    <div class="read-more">
                        <a href="#about" class="read-more scroll">Đọc thêm </a>
                    </div>
                </div>

            </div>
            <!-- //banner -->
        </div>
    </div>
    <!--// mian-content -->
    <!-- about-->
    <section class="wthree-row py-5" id="about">
        <div class="container pt-lg-5">
            <div class="row about-main">
                <div class="col-lg-6 about-right">
                    <img src="~/lib/Photo/g1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 about-text-grid text-left">
                    <div class="title-desc">
                        <h3 class="main-title-w3pvt text-capitalize"> Giảng viên: Lữ Cao Tiến</h3>
                    </div>
                    <p class="my-sm-4 mt-2 mb-4">
                        Bạn đang cần định hướng nghề nghiệp?
                        Bạn yêu thích CNTT nhưng không biết theo mảng nào?
                        Bạn đang gặp rắc rối khi học CNTT?
                        Bạn bị mất phướng hướng học tập?
                        Hãy chia sẻ, Informing và Các thầy cô luôn sẵn sàng lắng nghe nỗi niềm của các bạn nha.
                    </p>
                    <a href="#bottom"> Đọc thêm</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- features -->
    <section class="banner-bottom py-5" id="services">
        <div class="container py-sm-4">
            <div class="heading-grid text-center">
                <h3 class="tittle text-center heading mb-5">Điểm khác biệt khoi học với Informing</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-crosshairs"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Hỗ trợ tài chính</h4>
                            <p class="">
                                Học viện có các học bổng (toàn phần, bán phần), chính sách đóng học phí theo
                                đợt,
                                trả góp 0% lãi suất với thẻ tín dụng, chính sách học trước trả sau,
                                nhằm tạo điều kiện để học viên có thể tham gia các khóa học.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-laptop"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Tận tâm</h4>
                            <p class="">
                                Giảng viên không biết hết mọi điều nhưng luôn sẵn sàng chia sẻ hết những gì họ
                                có.
                                Đơn giản vì họ làm việc tận tâm, tận lực, tận khả năng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-cog"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Thời gian</h4>
                            <p class="">
                                Linh động, tùy vào sự sắp xếp của học viên. Một tuần học 2 buổi trên lớp và các
                                giờ hướng dẫn làm bài tập và đồ án.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-copy"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Sản phẩm thực tiễn</h4>
                            <p class="">
                                Phương pháp giảng dạy: Project base learning (chú trọng vào việc giúp học viên
                                tạo ra sản phẩm thực tiễn,
                                các sản đó có thể được triển khai ra thực tế) và Insight learning (Học từ gốc rễ của vấn
                                đề).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-eye"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Phát triển kỹ năng</h4>
                            <p class="">
                                Đến với lớp học bạn không chỉ được học kiến thức chuyên môn mà còn được tham gia
                                các buổi offline,
                                giao lưu, phát triển kỹ năng mềm, định hướng tương lai.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="row inner-info">
                        <div class="col-2">
                            <span class="fa fa-paint-brush"></span>
                        </div>
                        <div class="col-10">
                            <h4 class="mt-md-0 my-2">Kết nối doanh nghiệp</h4>
                            <p class="">
                                Học viên được tham gia các chương trình kết nối doanh nghiệp,
                                giới thiệu các chương trình thực tập và việc làm ngay sau khi tốt nghiệp khóa học.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //features -->
    <!-- stats -->
    <section class="stats py-5" id="stats">
        <div class="container py-lg-5 py-md-3">
            <div class="row stat-grids">
                <div class="col-lg-6 stats-left">
                    <h3 class="heading mb-4 text-li">Nhiều năm trong lĩnh vực này</h3>
                    <p class="mb-3">
                        Trải nghiệm xuất sắc là điều mà Informing luôn hướng đến bằng những triết lý giáo
                        dục hiện đại và
                        phương pháp giảng dạy tích cực. Điều đó được thể hiện thông qua những trăn trở:
                        “Các bạn học có vui không? Có hiểu bài không? Có làm được việc không?”
                        Informing cũng như một điểm đến quen thuộc của học viên, nơi mà họ có thể vẫy vùng thoải mái
                        giữa kho tàng kiến thức lập trình
                        một cách tự do, say mê và cuồng nhiệt mà không hề chịu nhiều áp lực trường lớp, đơn giản vì nơi
                        đó là nhà.
                    </p>
                </div>
                <div class="col-lg-6 grid1 stats-right mt-lg-0 mt-4 pl-5">
                    <div class="row">
                        <div class="col-sm-4 col-6">
                            <p class="text-li">Chi nhánh</p>
                            <h4 class="text-wh">3</h4>
                            <span class="fa fa-files-o mr-2"></span>
                        </div>
                        <div class="col-sm-4 col-6">
                            <p>Nhân viên làm việc</p>
                            <h4>16</h4>
                            <span class="fa fa-tasks mr-2"></span>
                        </div>
                        <div class="col-sm-4 col-6 mt-sm-0 mt-5">
                            <p>Tổng số học viên</p>
                            <h4>369</h4>
                            <span class="fa fa-users mr-2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <div class="header text-center">
                <h3 class="tittle mb-lg-5 mb-3">Hình ảnh về chúng tôi</h3>
            </div>
            <div class="row news-grids text-center gallery-wrap">
                <div class="col-md-4 gal-img">
                    <a href="#gal1"><img src="~/lib/Photo/g1.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal2"><img src="~/lib/Photo/g2.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal3"><img src="~/lib/Photo/g3.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal4"><img src="~/lib/Photo/g4.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal5"><img src="~/lib/Photo/g5.jpg" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-4 gal-img">
                    <a href="#gal6"><img src="~/lib/Photo/g6.jpg" alt="news image" class="img-fluid"></a>
                </div>
            </div>

            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g1.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g2.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g3.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g4.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal5" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g5.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal6" class="pop-overlay animate">
                <div class="popup">
                    <img src="~/lib/Photo/g6.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

        </div>
    </section>
    <!--// gallery -->
    <!-- testimonials -->
    <section class="testi py-5" id="testimonials">
        <div class="container pb-xl-5 py-lg-3">
            <h3 class="tittle two text-center heading mb-5">Phản hồi từ các thành viên</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row testi-cgrid border-right-grid">
                        <div class="col-sm-4 testi-icon mb-sm-0 mb-3">
                            <img src="~/lib/Photo/te1.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="col-sm-8">
                            <p class="mx-auto">
                                <span class="fa fa-quote-left"></span>Don't wait for opportunity, create
                                it. => "Nghèo đói là điều duy nhất bạn có thể đạt được mà không gặp khó khăn".
                            </p>
                            <h6 class="b-w3ltxt mt-3">Smith - <span>Ipsum</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4">
                    <div class="row testi-cgrid border-left-grid">
                        <div class="col-sm-4 testi-icon mb-sm-0 mb-3">
                            <img src="~/lib/Photo/te2.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="col-sm-8">
                            <p class="mx-auto">
                                <span class="fa fa-quote-left"></span> Learn to code like a first grader.
                                => "Hãy học lập trình như một học sinh lớp 1."
                            </p>
                            <h6 class="b-w3ltxt mt-3">Warner - <span>Lorem</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials -->
    <!-- team -->
    <section class="team py-5" id="team">
        <div class="container py-xl-5 py-lg-3">
            <div class="heading-grid text-center">
                <h3 class="tittle text-center heading mb-5">Nhân viên của chúng tôi</h3>
            </div>
            <div class="row inner-sec-w3layouts-w3pvt-lauinfo">
                <div class="col-md-4 col-sm-6">
                    <div class="team-grids text-center">
                        <img src="~/lib/Photo/team1.jpg" class="img-fluid" alt="">
                        <div class="social-icons-section">
                            <a class="fac" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="team-info">
                            <div class="caption">
                                <h4>John Doe</h4>
                                <h6>Lorem</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-sm-0 mt-5">
                    <div class="team-grids text-center">
                        <img src="~/lib/Photo/team2.jpg" class="img-fluid" alt="">
                        <div class="social-icons-section">
                            <a class="fac" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="team-info">
                            <div class="caption">
                                <h4>Elizabeth</h4>
                                <h6>Lorem</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-0 mt-5">
                    <div class="team-grids text-center">
                        <img src="~/lib/Photo/team3.jpg" class="img-fluid" alt="">
                        <div class="social-icons-section">
                            <a class="fac" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google" href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="team-info">
                            <div class="caption">
                                <h4>Martin ker </h4>
                                <h6>Lorem</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->


    <section class="section-middle py-5" id="bottom">
        <div class="container py-lg-5">
            <div class="row about-main">
                <div class="col-lg-6 about-text-grid1 text-left">
                    <div class="title-desc">
                        <h4><span></span>Get started</h4>
                        <h3 class="main-title-w3pvt text-capitalize my-4">
                            Tham Gia Với Chúng Tôi. Chúng Ta Sẽ Cùng Nhau
                            Tạo Nên Một Nền Giáo Dục Tốt Nhất!
                        </h3>
                    </div>

                </div>
                <div class="col-lg-6 about-right mt-lg-0 mt-4">
                    <p class="">
                        Từ những lớp học nho nhỏ được mở ra từ năm 2016,
                        đến nay Informing đã đồng hành cùng hàng nghìn học viên trong khắp cả nước chinh phục thành công
                        ước mơ trở thành một lập trình viên xuất sắc.
                        Với Informing, mỗi một cuộc gặp gỡ với học viên là một cái duyên, chưa biết tương lai thế nào
                        nhưng trước mắt là một sự trân trọng.
                        Chính vị vậy, sự trải nghiệm của học viên rất được chú trọng.
                    </p>
                    <p class="mt-4">
                        Trải nghiệm xuất sắc là điều mà Informing luôn hướng đến bằng những triết lý giáo
                        dục hiện đại và
                        phương pháp giảng dạy tích cực. Điều đó được thể hiện thông qua những trăn trở:
                        “Các bạn học có vui không? Có hiểu bài không? Có làm được việc không?”
                        Informing cũng như một điểm đến quen thuộc của học viên, nơi mà họ có thể vẫy vùng thoải mái
                        giữa kho tàng kiến thức lập trình
                        một cách tự do, say mê và cuồng nhiệt mà không hề chịu nhiều áp lực trường lớp, đơn giản vì nơi
                        đó là nhà.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container py-sm-4">
            <h3 class="heading mb-4">Liên hệ với chúng tôi</h3>
            <div class="row contact-top">
                <div class="col-lg col-md-6 contact-grid-wthree">
                    <div class="contact_grid_right">
                        <form action="#" method="post">
                            <div class="contact_left_grid">
                                <div class="con-left">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="Name" placeholder="Tên"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="Email" placeholder="Email"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <textarea id="textarea" placeholder="Nội dung" required=""></textarea>
                                    </div>
                                    <div class="sub-honey mx-auto mt-3">
                                        <button class="form-control btn" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 contact-grid-wthree foot-top mt-md-0 mt-5">
                    <h3 class="contact-title mb-sm-4 mb-2">Thông tin địa chỉ</h3>
                    <div class="contact-info">
                        <!-- <p class="mb-4">Donec cursus congue risus, quis varius velit accumsan aliquam. Morbi semper nunc praesent ullam corper dui turpis.</p> -->
                        <div class="contact-style-w3ls">
                            <p>
                                <span class="fa fa-map-marker"></span><strong>Địa chỉ :</strong>65 Huỳnh Thúc Kháng,
                                p.Bến Nghé, Q.1, tp.HCM
                            </p>
                        </div>
                        <div class="contact-style-w3ls my-2">
                            <p>
                                <span class="fa fa-envelope-open"></span><strong>Email :</strong> <a href="mailto:example@mail.com">example@mail.com</a>
                            </p>
                        </div>
                        <div class="contact-style-w3ls">
                            <p><span class="fa fa-phone"></span><strong>Phone :</strong> +121 568 789 901</p>
                            <p><span class="fa fa-mobile"></span><strong>Mobile :</strong> +121 211 366 422</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    <!-- footer -->
    <footer class="footer-content">
        <div class="layer footer-1">
            <div class="container-fluid">
                <div class="row footer-top-inner-w3ls">
                    <div class="col-lg-4 col-md-6 footer-top mt-md-0 mt-sm-5">
                        <h2>
                            <a href="index.html">Informing</a>
                        </h2>
                        <p class="my-3">
                            Đến với lớp học bạn không chỉ được học kiến thức chuyên môn mà còn được tham gia
                            các buổi offline, giao lưu, phát triển kỹ năng mềm, định hướng tương lai.
                        </p>
                        <p>
                            .
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Giờ hành chính</h3>
                            <hr>
                            <ul class="list-info-w3pvt last-w3ls-contact mt-lg-4">
                                <li>
                                    <p> Thứ Hai - Thứ Sáu, 9 giờ sáng - 8 giờ tối</p>

                                </li>
                                <li class="my-2">
                                    <p>Thứ Bảy, 9 giờ sáng - 5 giờ chiều</p>

                                </li>
                                <li class="my-2">
                                    <p>Chủ nhật 10 giờ sáng - 2 giờ chiều</p>

                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="footer-w3pvt">
                            <h3 class="mb-3 w3pvt_title">Bản tin</h3>
                            <hr>

                            <div class="footer-text">
                                <p>
                                    Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn nhận được tin tức
                                    và cập nhật mới nhất từ ​​chúng tôi.
                                </p>
                                <form action="#" method="post">
                                    <input type="email" name="Email" placeholder="Nhập Email của bạn ...." required="">
                                    <button class="btn1 btn">
                                        <span class="fa fa-paper-plane-o"
                                              aria-hidden="true"></span>
                                    </button>
                                    <div class="clearfix"> </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <p class="copy-right-grids text-li text-center my-sm-4 my-4">
                © 2020 Informing. Bảo lưu mọi quyền | Thiết kế
                bởi
                <a href="http://google.com/"> Informing </a>
            </p>
            <div class="w3ls-footer text-center mt-4">
                <ul class="list-unstyled w3ls-icons">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook-f"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-vk"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-top text-right">
                <a href="#home" class="move-top">
                    <span class="fa fa-angle-up  mb-3"
                          aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <!-- //footer bottom -->
        </div>
    </footer>
    <!-- //footer -->
    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/js/sb-admin-2.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>